*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 1.5rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row{
    display: flex;
}
.box{
  width: 30px;
  height: 30px;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  
}