*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-top: 1.5rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding-bottom: 1.5em;
}
.controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
#reset-button{
    margin-top: 1.5rem;
    padding: 0.5em;
    background-color:  #45979d;
    
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.5rem;
}
#reset-button:hover{
    cursor: pointer;
    background-color:  hsl(184, 87%, 47%);
}
#color-wheel{
    margin-top: 1.2rem;
}
#grid-container{
    display: inline-grid;
    grid-template-columns: repeat(8, 2fr);
    grid-template-rows: repeat(8, 2fr);
    border: 2px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
}

.box{
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}